* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0px;
}
.hidden {
  display: none !important;
}
body {
  background-color: #e6e7e9;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 116px;
}
.header {
  height: 58px;
  display: flex;
  justify-content: space-between;
}
.header > div {
  width: 33.333%;
}
.header > div > a > span {
  display: block;
}
.header > div:first-child > a > span {
  height: 18px;
  width: 23px;
  margin-left: 15px;
  margin-top: 22px;
}
.header > div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.header > div:nth-child(2) > a > img {
  height: 25px;
  width: 85px;
  margin-top: 16px;
}
.header > div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header > div:last-child > a {
  margin-right: 15px;
  margin-top: 6px;
  display: flex;
}
.header > div:last-child > a > div {
  display: flex;
}

@keyframes circle1Moving {
  0% {
    transform: translateX(0px);
    z-index: 1;
  }
  50% {
    transform: translateX(16px);
    z-index: 3;
  }
  100% {
    transform: translateX(0px);
    z-index: 5;
  }
}
@keyframes circle2Moving {
  0% {
    transform: translateX(0px);
    z-index: 5;
  }
  50% {
    transform: translateX(-16px);
    z-index: 3;
  }
  100% {
    transform: translateX(0px);
    z-index: 1;
  }
}

.circle-1 {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #5acfd1;
  animation: circle1Moving 2s linear infinite;
}
.circle-2 {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #5b6cff;
  animation: circle2Moving 2s linear infinite;
}
.header > div:last-child > a > span {
  width: 28px;
  height: 16px;
  margin-left: 2px;
}
.search-box {
  margin: 0 15px;
  padding: 1px;
  border: solid 1px #ff2c2e;
  height: 44px;
  width: auto;
  border-radius: 2px 12px 2px 2px;
  display: flex;
  position: relative;
}
.search-box > div > span {
  display: block;
}
.search-box > div:first-child {
  height: 44px;
  padding: 0 85px 0 12px;
  width: 100%;
}
.search-box > div:first-child > input {
  width: 100%;
  margin-top: 11px;
  height: 21px;
  border: none;
  font-size: 18px;
  outline: none;
}
.search-box > div:nth-child(2) {
  position: absolute;
  top: 14px;
  right: 43px;
}
.search-box > div:nth-child(2) > span {
  height: 17px;
  width: 17px;
}
.search-box > div:last-child {
  position: absolute;
  top: 0;
  right: 0;
}
.search-box > div:last-child > span {
  display: block;
  width: 45px;
  height: 42px;
}
nav {
  width: 100%;
  background-color: white;
}
nav > ul {
  width: 100%;
  display: flex;
  padding: 0 8px;
  overflow: scroll;
  margin: 0;
  height: 45px;
  text-align: center;
  white-space: nowrap;
}
nav > ul::-webkit-scrollbar {
  display: none;
}
nav > ul > li > a {
  padding: 0 10px;
  height: 45px;
  text-decoration-line: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav > ul > li > a > span {
  font-size: 1.133em;
  font-weight: 700;
  letter-spacing: -1px;
  color: black;
  margin-top: 5px;
}
.nav_select-box {
  display: flex;
  justify-content: space-between;
}
.nav_select {
  height: 4px;
  width: 4px;
  border-radius: 4px;
  background-color: #d4d4d4;
}
.selected {
  background-color: #ef1616;
}
.news {
  margin-top: 8px;
  width: 100%;
  background-color: white;
}
.news > ul {
  margin: 0;
}
.news > ul > li {
  margin: 0 15px;
  padding: 11px 0 7px 0;
  border-bottom: 1px solid #ededed;
}
.news > ul > li:first-child {
  margin: 0;
  padding: 8px 15px 8px 15px;
  background: #fafafa;
}
.news > ul > li:first-child > a {
  display: flex;
  line-height: 37px;
}
.news > ul > li > a {
  color: black;
  text-decoration-line: none;
  height: auto;
}
.news > ul > li > a > span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news > ul > li:first-child > a > span:first-child {
  width: 85px;
  margin-right: 5px;
  color: #3f7dee;
  letter-spacing: 0;
}
.news > ul > li:last-child {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  overflow: hidden;
  border: none;
}
.news > ul > li:last-child > a:first-child {
  margin-right: 10px;
}
.news > ul > li:last-child > a:last-child {
  display: flex;
  border-left: solid 0.5px #e6e7e9;
  padding-left: 10px;
}
.news > ul > li:last-child > a:last-child > span:first-child {
  width: 18px;
  height: 18px;
  margin-top: 1px;
  margin-right: 5px;
}
.real-time {
  height: 40px;
  width: 100vw;
  background-color: white;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.real-time__title {
  padding-left: 15px;
  padding-bottom: 2px;
}
.real-time__title > span {
  width: 100px;
  color: #999;
  font-size: 14px;
  letter-spacing: -1px;
}
.real-time__keyword {
  margin-left: 2px;
  display: flex;
}
.real-time__keyword > div {
  margin-top: 2px;
  background-color: #ff2c2e;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 11px;
}
.real-time__keyword > span {
  margin-left: 4px;
}
.real-time__btn {
  height: 40px;
  width: 40px;
  background-color: #f9faf9;
  position: absolute;
  right: 0;
  border-left: solid 1px #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.real-time__btn > span {
  display: block;
  width: 14px;
  height: 8px;
}

.image-news {
  background-color: white;
  margin: 8px 0;
  overflow: hidden;
  padding: 10px 12px 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.image-news > div {
  display: flex;
  flex-direction: column;
  width: 49.2%;
  overflow: hidden;
}
.image-news > div > div:first-child {
  width: 100%;
  height: 80%;
}
.image-news > div > div:first-child > img {
  width: 100%;
  height: 100%;
}
.image-news > div > div:last-child {
  margin-top: 8px;
  width: 100%;
  margin-bottom: 15px;
}
.image-news > div > div:last-child > span {
  display: inline-block;
  color: #222;
  font-size: 0.933em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 18px;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  letter-spacing: -1px;
}
.info {
  height: 38px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.info__weather {
  width: 70%;
  height: 100%;
  position: relative;
}
.info__weather > div:first-child {
  width: 100%;
  height: 100%;
  padding-right: 35px;
  display: flex;
  align-items: center;
}
.info__position {
  display: inline-block;
  width: 50px;
  font-size: 0.867em;
  color: #999;
  margin-left: 15px;
}
.info__weather > div > img {
  width: 22px;
}
.info__temperature {
  margin-left: 8px;
  color: #222;
}
.info__rain {
  margin-left: 15px;
}
.info__rain > span:first-child {
  display: inline-block;
  width: 10px;
  height: 13px;
}
.info__rain > span:last-child {
  font-size: 0.8em;
  color: #747472;
}
.location {
  position: absolute;
  top: 7px;
  right: 8px;
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddcd9;
}
.location > span {
  width: 11px;
  height: 14px;
}
.info__lucky {
  width: 30%;
  border-left: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__lucky > span {
  color: #666;
  font-size: 0.938em;
  font-weight: 500;
  letter-spacing: -1px;
}
