body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@keyframes waveSpread {
  from {
    width: 1px;
    height: 1px;
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

.wave {
  border: solid blue 1px;
  border-radius: 50%;
  position: absolute;
  width: 1px;
  height: 1px;
  transform: translate(-50%, -50%);
  animation: waveSpread 1s forwards linear;
}

.button {
  background-color: cornflowerblue;
  color: white;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

@keyframes buttonRipple {
  from {
    height: 1px;
    width: 1px;
    opacity: 0.3;
  }
  to {
    height: 430px;
    width: 430px;
    opacity: 0;
  }
}

.ripple {
  background-color: black;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: buttonRipple 0.4s linear forwards;
  position: absolute;
  transform: translate(-50%, -50%);
}

.colorBtn {
  margin-top: 20px;
  background-color: cornflowerblue;
  height: 50px;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes dalgonaRain1 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20vh);
    opacity: 1;
  }
  100% {
    transform: translateY(40vh);
    opacity: 0;
  }
}
@keyframes dalgonaRain2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(22vh);
    opacity: 1;
  }
  100% {
    transform: translateY(44vh);
    opacity: 0;
  }
}
@keyframes dalgonaRain3 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(26vh);
    opacity: 1;
  }
  100% {
    transform: translateY(52vh);
    opacity: 0;
  }
}
@keyframes dalgonaRain4 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(17vh);
    opacity: 1;
  }
  100% {
    transform: translateY(34vh);
    opacity: 0;
  }
}
@keyframes dalgonaRain5 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(25vh);
    opacity: 1;
  }
  100% {
    transform: translateY(50vh);
    opacity: 0;
  }
}

.dalgonaAni1 {
  animation: dalgonaRain1 2s linear forwards;
}
.dalgonaAni2 {
  animation: dalgonaRain1 1s linear forwards;
}
.dalgonaAni3 {
  animation: dalgonaRain1 3s linear forwards;
}
.dalgonaAni4 {
  animation: dalgonaRain1 1s linear forwards;
}
.dalgonaAni5 {
  animation: dalgonaRain1 1.5s linear forwards;
}

.dalgonaImg {
  position: absolute;
}
